name: build-and-test.yaml
run-name: Build Docker Image and Run Test
on:
  pull_request:
    branches:
      - 'master'
    paths:
      - 'byk/**'
      - '.github/workflows/reusable-build-image.yml'
      - 'Dockerfile'
      - 'requirements.txt'
  push:
    branches:
      - 'master'
    tags:
      - 'v*'
    paths:
      - 'byk/**'
      - '.github/workflows/reusable-build-image.yml'
      - 'Dockerfile'
      - 'requirements.txt'

env:
  REGISTRY: registry.digitalocean.com/lgtkom
  IMAGE_NAME: byk-server

jobs:
  prepare:
    runs-on: ubuntu-latest

    outputs:
      tags: ${{ steps.meta.outputs.tags }}

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Docker metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        tags: |
          type=ref,event=tag
          type=edge,branch=master
          type=raw,value=latest,enable=${{ github.ref == 'refs/heads/master' }}
          type=sha,format=short,event=pr

  build:
    needs: prepare
    uses: ./.github/workflows/reusable-build-image.yml
    with:
      registry: ${{ env.REGISTRY }}
      image_name: ${{ env.IMAGE_NAME }}
      image_tag: ${{ needs.prepare.outputs.tags }}
    secrets:
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
      DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

  test:
    needs: build
    uses: ./.github/workflows/reusable-run-tests.yaml.yml
    with:
      registry: ${{ env.REGISTRY }}
      image_name: ${{ env.IMAGE_NAME }}
      image_tag: ${{ needs.prepare.outputs.tags }}

  publish:
    needs:
      - build
      - test
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && (startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/master')
    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ needs.prepare.outputs.tags }}
