name: Reusable Push Docker Image
run-name: Build Docker Image
on:
  workflow_call:
    inputs:
      registry:
        required: true
        type: string
      image_tag:
        required: true
        type: string
    secrets:
      DOCKER_HUB_USERNAME:
        required: true
      DOCKER_HUB_ACCESS_TOKEN:
        required: true

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: ${{ inputs.registry }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build from Cache
        uses: docker/build-push-action@v6
        with:
          cache-from: type=gha
          load: true  # Loads it into the local daemon for testing

      - name: Build and Push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ inputs.image_tag }}
